*{
	-webkit-user-select: none;
}

#txt {
  height: 0.14in;
  width: 0.6in;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -0.55in;
  margin-left: -0.172in;
  font-size: 0.13in;
  font-family: sans-serif;
  color: white;
  opacity: 0.6;
}

#visor {
  height: 0.92in;
  width: 1.2in;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -0.43in;
  margin-left: -0.61in;
}

#blocked {
  cursor: pointer;
  height: 0.8in;
}

#find-people-icon {
  height: 0.79cm;
  border: 0.06cm solid black;
  border-radius: 0.26cm;
  padding: 0.05cm;
  cursor: pointer;
  margin-top: 0.05in;
  margin-left: 0.4in;
} 

#band-schedule-icon {
  height: 0.79cm;
  border: 0.06cm solid black;
  border-radius: 0.26cm;
  padding: 0.05cm;
  display: inline-block;
  cursor: pointer;
  margin-top: 0.03in;
  margin-left: 0.12in;
} 

#fast-food-icon {
  height: 0.79cm;
  border: 0.06cm solid black;
  border-radius: 0.26cm;
  padding: 0.05cm;
  display: inline-block;
  cursor: pointer;
  margin-top: 0in;
  margin-left: 0.12in;
} 

#step {
  height: 0.1in;
  width: 0.2in;
  position: fixed;
  top: 50%;
  cursor: pointer;
  left: 50%;
  opacity: 0.5;
  margin-top: 0.62in;
  margin-left: -0.5in;
}

#back-button {
  height: 0.1in;
  width: 0.2in;
  position: fixed;
  top: 50%;
  cursor: pointer;
  left: 50%;
  opacity: 0.5;
  margin-top: 0.62in;
  margin-left: -0.5in;
}

#back-button:active {
  opacity: 1;
}

#home-button {
  height: 0.3in;
  width: 0.3in;
  position: fixed;
  border-radius: 0.52cm;
  top: 50%;
  cursor: pointer;
  opacity: 0;
  background: rgb(211, 175, 151);
  left: 50%;
  margin-top: 0.59in;
  margin-left: -0.18in;
}

#home-button:active {
  opacity: 0.3;
}

#help-button {
  height: 0.1in;
  width: 0.2in;
  position: fixed;
  top: 50%;
  cursor: pointer;
  left: 50%;
  opacity: 0.5;
  margin-top: 0.62in;
  margin-left: 0.22in;
}

#help-button:active {
  opacity: 1;
}

#bandasMenu{
  height: inherit;
  display: block;
}

#detailsBoxA, #detailsBoxB,.bandas, .friends, .helpMenu.initial, .helpMenu.bandSchedule, .helpMenu.findhorario11, .helpMenu.findhorario12, .helpMenu.findhorario21, .helpMenu.findhorario22,
.helpMenu.restaurantMenu, .helpMenu.totalOrder, .helpMenu.detailsBoxA, .helpMenu.detailsBoxB{
  overflow-y:scroll;
  overflow-x:hidden; 
}

#friend::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #775B4D;
}

#friend::-webkit-scrollbar
{
  width: 6px;
  background-color: #FFFFFF;
}

#friend::-webkit-scrollbar-thumb
{
  border-radius: 43px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #F48207;
}

#banda::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #775B4D;
}

#banda::-webkit-scrollbar
{
  width: 6px;
  background-color: #FFFFFF;
}

#banda::-webkit-scrollbar-thumb
{
  border-radius: 43px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #F48207;
}

#helpmenuinitial::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #775B4D;
}

#helpmenuinitial::-webkit-scrollbar
{
  width: 6px;
  background-color: #FFFFFF;
}

#helpmenuinitial::-webkit-scrollbar-thumb
{
  border-radius: 43px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #F48207;
}

#helpmenuband::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #775B4D;
}

#helpmenuband::-webkit-scrollbar
{
  width: 6px;
  background-color: #FFFFFF;
}

#helpmenuband::-webkit-scrollbar-thumb
{
  border-radius: 43px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #F48207;
}

#helpmenuhorario::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #775B4D;
}

#helpmenuhorario::-webkit-scrollbar
{
  width: 6px;
  background-color: #FFFFFF;
}

#helpmenuhorario::-webkit-scrollbar-thumb
{
  border-radius: 43px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #F48207;
}

#helpmenumenu::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #775B4D;
}

#helpmenumenu::-webkit-scrollbar
{
  width: 6px;
  background-color: #FFFFFF;
}

#helpmenumenu::-webkit-scrollbar-thumb
{
  border-radius: 43px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #F48207;
}

#helptotal::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #775B4D;
}

#helptotal::-webkit-scrollbar
{
  width: 6px;
  background-color: #FFFFFF;
}

#helptotal::-webkit-scrollbar-thumb
{
  border-radius: 43px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #F48207;
}

#helpdetails::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #775B4D;
}

#helpdetails::-webkit-scrollbar
{
  width: 6px;
  background-color: #FFFFFF;
}

#helpdetails::-webkit-scrollbar-thumb
{
  border-radius: 43px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #F48207;
}

#detailsBoxA::-webkit-scrollbar
{
  width: 6px;
  background-color: #FFFFFF;
}

#detailsBoxA::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #775B4D;
}

#detailsBoxA::-webkit-scrollbar-thumb
{
  border-radius: 43px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #F48207;
}


#detailsBoxB::-webkit-scrollbar
{
  width: 6px;
  background-color: #FFFFFF;
}

#detailsBoxB::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 0px;
  background-color: #775B4D;
}

#detailsBoxB::-webkit-scrollbar-thumb
{
  border-radius: 43px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #F48207;
}

#blockmessage, #bandSchedule, #findPeople, #fastFood,
#restaurantA, #restaurantB, #restaurantC,
#restAFood, #restADrink, #restBFood, #restBDrink,
#restCFood, #restCDrink, #confirm-box, #totalOrder,
#payBox, #orderReady, #help{
	height: inherit;
  overflow: hidden;
  display: block;
}
#detailsBoxA, #detailsBoxB{
  height: inherit;
  overflow: auto;
  display: block;
}
#blockmessage, .bandas, .bandScheduleMenu, .friends, #restaurants, #foodDrink, #totalOrder, .helpMenu{
	height: inherit;
	text-align: center;
}

#blockmessage div, .bandas div, .bandScheduleMenu div, .friends div,
#restaurants div, #foodDrink div{
	padding: 0.02cm 0cm;
	margin: 0 auto;
	display: inline-block;
}

.friends div img, #restaurants div img, #foodDrink div img{
	height: 0.58cm;
	border-radius: 0.52cm;
	float: left;
  margin-right: 5px;
	margin-top: 0.09cm;
}

#blockmessage div span,.bandas div span, .friends div span,
#restaurants div span, #foodDrink div span,
.bandScheduleMenu div span{
	margin-top: 0.18cm;
	float: left;
	font-family: 'Open Sans', sans-serif;
	margin-left: 0cm;
	font-size: 0.36cm;
	font-weight: bold;
}

.helpMenu div{
  padding: 0.02cm 0cm;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
}

.helpMenu div img{
  height: 0.58cm;
  margin-top: 0.19cm;
}

.helpMenu div span{
  margin-bottom: 0.18cm;
  float: left;
  font-family: 'Open Sans', sans-serif;
  margin-left: 0cm;
  font-size: 0.36cm;
  font-weight: bold;
}

.bandas hr, .friends hr, .helpMenu hr, #restaurants hr, #foodDrink hr, .bandScheduleMenu hr{
	width: 90%;
	margin-top: 0cm;
	margin-bottom: 0cm;
	border: 0;
	height: 0.05cm;
	background-image: -webkit-linear-gradient(left, rgba(83, 67, 58, 0), rgba(255, 133, 0, 1), rgba(90, 73, 59, 0));
}

#restaurants div, #foodDrink div, 
.bandScheduleMenu div{
  cursor: pointer;
  padding: 0.2cm;
}


#hologramScreen{
  height: inherit;
  width: 1.2in;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#hologramScreen div{
  height: inherit;
  width: 1.2in;
}

.simulation-buttons{
  height: 1in;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  margin-top: 2in;
  margin-left: -4in;
  width: 8in;
}

#chegou{
  margin-top: 0.1cm;
  height: inherit;
  width: 1.2in;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

#chegou div{
  height: inherit;
  width: 1.2in;
}

#chegou img{
  margin: 0.1em auto;
  height: 45%;
}

.quantity {
  float: left;
  display: inline-block;
  margin: 0.1in 0.05in;
  text-align: center;
} 

.quantity span{
  display: block;
  border: 1px solid;
  margin: 0.1in 0in;
}

.quantity img{
  cursor: pointer;
}

.description {
  font-family:sans-serif;
  font-size:0.4cm;
  float: right;
  padding-right: 5px;
  height: inherit;
  width: 60%;
} 

.description img{
  height: 17px;
  border: 1px solid;
  padding: 0.04cm;
  float: right;
  border-radius: 5px;
  margin-top: -0.75cm;
  cursor: pointer;
}

.description img:hover {
  opacity: 0.5;
}

img.swap1{
margin-top: -0.8cm;
height: 12px;
position: absolute;
display: inherit;
margin-left: 0.12cm;
float: none;
}

img.swap{
  margin-top: 0.9cm;
  height: 12px;
  position: absolute;
  display: inherit;
  margin-left: 0.12cm;
  float: none;
}

#totalOrder #pay{
  font-family:sans-serif;
  border: 1px solid black;
  width: 0.9in;
  cursor: pointer;
  font-weight: bold;
  border-radius: 7px;
  padding: 0.02in;
  display: inline-block;
  background: rgb(19, 174, 48);
}

#totalOrder #details{
  font-family:sans-serif;
  font-size:0.4cm;
  border: 1px solid black;
  width: 0.7in;
  font-weight: bold;
  border-radius: 7px;
  display: inline-block;
  background: rgb(47, 125, 217);
  cursor: pointer;
  margin-top: 0.04in;
}

#detailsBoxA{
font-family:sans-serif;}

#detailsBoxB{
font-family:sans-serif;}
